.stat-container {
  text-align: center;

  .stat-name {
    color: #79a9cd;
  }

  .stat-value {
    margin: 0;
  }
}

.character-sheet-container {
  width: 65vw;
}

.row-container {
  width: 65vw;
}

.idColumn {
  flex: 2 0 96px ;
}

.numberColumn {
  flex: 1 0 8px;
}

.skill-row {
  :hover {
    background-color: #f5f5f5;
  }
}
