<div fxLayout="column" fxLayoutAlign="start center">
  <mat-spinner class="loadingSpinner" *ngIf="loadingChar"></mat-spinner>
  <mat-card class="character-sheet-container" *ngIf="!loadingChar">
    <mat-card-header>
      <mat-card-title>
        <h3>{{userChar.name}} character's sheet</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="12px">
      <div fxLayout="column" fxLayoutAlign="start center">
        <div class="form-container">
          <form [formGroup]="newguyForm" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="12px">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="JanLouie" formControlName="name">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Class</mat-label>
              <mat-select formControlName="class" required>
                <mat-option *ngFor="let class of classes" [value]="class._source.valueName">
                  {{class._source.viewName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Age</mat-label>
              <input matInput placeholder="20" type="number" formControlName="age" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Level</mat-label>
              <input matInput placeholder="1" type="number" formControlName="level" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Gender</mat-label>
              <input matInput placeholder="Not assumed" formControlName="gender" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Race</mat-label>
              <input matInput placeholder="Human" formControlName="race" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Hair color</mat-label>
              <input matInput placeholder="Blond" formControlName="hair_color" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Eyes color</mat-label>
              <input matInput placeholder="Blue" formControlName="eyes_color" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Appearance</mat-label>
              <input matInput placeholder="5" type="number" formControlName="appearance" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Size</mat-label>
              <input matInput placeholder="10" type="number" formControlName="size" required>
            </mat-form-field>
          </form>
        </div>
        <button mat-raised-button class="submit-button" type="submit" (click)="submitCharacter()" [disabled]="!newguyForm.valid">Submit</button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-slide-toggle color="primary" (change)="toggleChange()">Edit</mat-slide-toggle>
    </mat-card-actions>
  </mat-card>
  <mat-card class="row-container" *ngIf="!loadingChar">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="6px">
      <mat-card fxFlex="1 0 340px" (click)="openBaseStatDialog()" matTooltip="Click to modify" class="general-stats">
        <mat-card-header>
          <mat-card-title><h4>General stats</h4></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-table [dataSource]="generalStats">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef class="idColumn"></mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element" class="idColumn"> <strong>{{element.id | titlecase }}</strong> </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="base">
              <mat-header-cell  *matHeaderCellDef class="numberColumn">Base</mat-header-cell>
              <mat-cell *matCellDef="let element" class="numberColumn"> {{element.base}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="actual">
              <mat-header-cell *matHeaderCellDef  class="numberColumn">Actual</mat-header-cell>
              <mat-cell *matCellDef="let element"  class="numberColumn"> {{element.actual}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="mod">
              <mat-header-cell *matHeaderCellDef  class="numberColumn">Mod</mat-header-cell>
              <mat-cell *matCellDef="let element"  class="numberColumn"> {{element.mod}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedGeneral"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedGeneral;"></mat-row>
          </mat-table>

        </mat-card-content>
      </mat-card>
      <mat-card fxFlex="2 0 340px" class="secondary-skills">
        <mat-card-header>
          <mat-card-title><h4>Athletics skills</h4></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-table [dataSource]="athleticSkills">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef class="idColumn"></mat-header-cell>
              <mat-cell mat-cell *matCellDef="let element" class="idColumn"> <strong>{{element.name | titlecase }}</strong> </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="base">
              <mat-header-cell  *matHeaderCellDef class="numberColumn">Base</mat-header-cell>
              <mat-cell *matCellDef="let element" class="numberColumn"> {{element.base}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="mod">
              <mat-header-cell *matHeaderCellDef  class="numberColumn">Mod</mat-header-cell>
              <mat-cell *matCellDef="let element"  class="numberColumn"> {{getStatMod(element.baseStatMod) * element.modMultiplier}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="spe">
              <mat-header-cell *matHeaderCellDef  class="numberColumn">Spe</mat-header-cell>
              <mat-cell *matCellDef="let element"  class="numberColumn"> {{element.special}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="class">
              <mat-header-cell *matHeaderCellDef  class="numberColumn">Class</mat-header-cell>
              <mat-cell *matCellDef="let element"  class="numberColumn"> {{element.class}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="total">
              <mat-header-cell *matHeaderCellDef  class="numberColumn"><strong>Total</strong></mat-header-cell>
              <mat-cell *matCellDef="let element"  class="numberColumn"><strong>{{element.class + element.special + getStatMod(element.baseStatMod) * element.modMultiplier + element.base}}</strong></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedAthletics"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedAthletics;" (click)="openSkillDialog(row)"></mat-row>
          </mat-table>

        </mat-card-content>
      </mat-card>
    </div>

  </mat-card>
</div>
