<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'over'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">Home</a>
      <a mat-list-item routerLink="/rolls" *ngIf="loggedIn">Rolls</a>
      <a mat-list-item routerLink="/presentation" *ngIf="loggedIn">Character</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayoutGap="12px">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <fa-icon [icon]="faDice20"></fa-icon>
      <span>Role Portal</span>
      <span class="spacer"></span>
      <button mat-raised-button *ngIf="loggedIn" (click)="logout()">Logout</button>
    </mat-toolbar>
    <div fxLayout="column" fxLayoutAlign="start center">
      <div class="view-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
