<div fxLayout="column" fxLayoutAlign="start center">
  <mat-card class="top-bar">
    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-button [matMenuTriggerFor]="menuGeneral">General Stats</button>
      <mat-menu #menuGeneral="matMenu">
        <button (click)="rollGeneral(stat.actual)" mat-menu-item *ngFor="let stat of generalStats">{{stat.id | titlecase}}</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menuAthletic">Athletic Skills</button>
      <mat-menu #menuAthletic="matMenu">
        <button (click)="rollSkill(computeSkillTotal(skill))" mat-menu-item *ngFor="let skill of athleticSkills">{{skill.name | titlecase}}</button>
      </mat-menu>
    </div>
  </mat-card>
  <button (click)="rollSkill(30)">test avec +30</button>
</div>
