<div fxLayout="row" fxLayoutAlign="space-evenly stretch" class="page-view rolls-view">
  <div fxFlex="1 1 60vw" fxLayout="column" fxLayoutAlign="space-between stretch">
    <mat-card class="blue" fxFlex="0 0 35%"></mat-card>
    <mat-card fxFlex="0 0 65%" class="chats">
      <mat-card-header fxLayout="row" fxLayoutAlign="center center">
        <mat-card-title>Livechat</mat-card-title>
      </mat-card-header>
      <mat-card-content class="chatbox">
        <div *ngFor="let chat of chats">
          <div class="message sent" [class.critFail]="chat.isCritFail" [class.critSuccess]="chat.isCritSuccess" *ngIf="chat.type!=='joined' && chat.isMe">
            {{chat.message}}
            <span class="metadata">
              <span class="time">{{chat.createdAt | date: 'HH:mm aaa'}}</span>
            </span>
          </div>
          <div class="message received" [class.critFail]="chat.isCritFail" [class.critSuccess]="chat.isCritSuccess"  *ngIf="chat.type!=='joined' && !chat.isMe">
            <strong>{{chat.displayName}}</strong> <br>
            {{chat.message}}
            <span class="metadata">
              <span class="time">{{chat.createdAt | date: 'HH:mm aaa'}}</span>
            </span>
          </div>
          <p align="center" class="joined"  *ngIf="chat.type==='joined'">
            <span class="rounded bg-primary text-white">{{chat.displayName}} joined</span>
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card fxFlex="1 1 40vw" fxLayout="column" fxLayoutAlign="start stretch">
    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start stretch">
      <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="space-evenly stretch">
        <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="space-evenly stretch">
          <mat-card fxFlex="0 1 auto" fxLayout="column" fxLayoutAlign="space-evenly stretch">
	          <div fxFlex="0 0 auto">Stats</div>
            <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="space-evenly-stretch">
	            <div fxFlex="1 1 auto" class="stats">
		            <mat-list dense>
		              <mat-list-item *ngFor="let stat of physStats">
                    <div fxLayout="row" fxLayoutAlign="start center" class="stats-list-row">
                      <button (click)="rollGeneral(stat)" mat-icon-button><mat-icon mat-list-icon>casino</mat-icon></button>
                      <div  mat-line>{{stat.id}} : {{stat.base}}</div>
                    </div>
                  </mat-list-item>
		            </mat-list>
	            </div>
	            <div fxFlex="1 1 auto" class="stats">
		            <mat-list dense>
		              <mat-list-item *ngFor="let stat of intelStats">
                    <div fxLayout="row" fxLayoutAlign="start center" class="stats-list-row">
                      <button (click)="rollGeneral(stat)" mat-icon-button><mat-icon mat-list-icon>casino</mat-icon></button>
                      <div  mat-line>{{stat.id}} : {{stat.base}}</div>
                    </div>
                  </mat-list-item>
		           </mat-list>
	           </div>
	          </div>
	        </mat-card>
          <mat-card fxFlex="1 1 auto">initiative</mat-card>
        </div>
	      <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="space-evenly stretch">
          <mat-card fxFlex="1 1 auto">attaque</mat-card>
          <mat-card fxFlex="1 1 auto">esquive</mat-card>
          <mat-card fxFlex="1 1 auto">parade</mat-card>
        </div>
        <div fxFlex="0 1 40%" fxLayout="row" fxLayoutAlign="space-evenly stretch">
          <mat-card fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="space-evenly stretch">
            <div fxFlex="1 1 auto">Health</div>
            <div fxFlex="1 1 auto">Fatigue</div>
            <div fxFlex="1 1 auto">Ki points</div>
            <div fxFlex="1 1 auto">Status</div>
          </mat-card>
          <mat-card fxFlex="1 1 auto"> resistances et presence</mat-card>
        </div>
        <div fxFlex="1 1 60%" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-card fxFlex="1 1 auto" fxLayout="column">
            <div fxFlex="0 0 auto">equipement</div>
            <div fxFlex="1 1 auto" class="gold">
              <mat-card fxFlex="0 2 auto" fxLayout="column" class="piece">
                <div fxFlex="0 0 auto">Or</div>
                <mat-card fxFlex="0 0 50px">PO</mat-card>
                <mat-card fxFlex="0 0 50px">PA</mat-card>
                <mat-card fxFlex="0 0 50px">PC</mat-card>
              </mat-card>
            </div>
          </mat-card>
          <mat-card fxFlex="1 1 auto">techniques</mat-card>
        </div>
      </div>
      <mat-card fxFlex="0 1 auto" class="stats-and-skills">
        <mat-card-header><h3>Secondary Skills</h3></mat-card-header>
        <mat-list dense>
          <div *ngFor="let section of skillSections">
            <h3 mat-subheader>{{section.sectionName}}</h3>
            <mat-list-item *ngFor="let skill of section.sectionSkills">
              <div fxLayout="row" fxLayoutAlign="start center" class="skill-list-row">
                <button (click)="rollSkill(skill)" mat-icon-button><mat-icon mat-list-icon>casino</mat-icon></button>
                <div  mat-line>{{skill.name}} : {{computeSkillTotal(skill)}}</div>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </div>
        </mat-list>
      </mat-card>
    </div>
  </mat-card>
</div>
