@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/theming";
@import "./app/home/home.component";
@import "app/app.component.css";
@import "app/newguy/newguy.component";

.view-container {
  width: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.spacer {
  flex : 1 1 auto;
}
